<div class="row text-center">

  {% include "shared/big_logo.html" %}

  <h2>helps you find goods and services</h2>
  <h2 class="text-muted padded-bottom mobile-fixed-two-rows"><strong id="js-cycle-phrases">for the lowest price.</strong></h2>

  <form id="search-box" method="GET" class="form form-inline" action="/explore/" role="login">
    <div class="form-group">
      {{ form.q(placeholder="I'm looking for...", class_="form-control") }}
    </div>
    <input class="btn btn-default btn-success" type="submit" value="Search">
  </form>

</div>
