
{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include "explorer/side_search.html" %}
  </div>

  <div class="col-md-9">
    <h3>{{ company.company|title }} {% if company.bus_type %}({{ company.bus_type }}){% endif %}</h3>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <p class="lead">
          Contact Information
        </p>
        <ul class="list-unstyled">
          {% if contacts %}
            {% for contact in contacts %}
              {% if contact.contact_name is not none %}
              <li><span class="span-callout"><strong>{{ contact.contact_name|title }}</strong></span></li>
              {% endif %}
              {% if contact.address_1 is not none and contact.address_2 is not none %}
              <li>
                <span>
                  {{ contact.address_1|title }} <br>
                  {{ contact.address_2|title }}
                </span>
              </li>
              {% if contact.phone_number is not none %}
              <li><span>{{ contact.phone_number }}</span></li>
              {% endif %}
              {% if contact.email is not none %}
              <li><span><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span></li>
              {% endif %}
              <br>
              {% endif %}
            {% endfor %}
          {% else %}
            <p>No contact information available.</p>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        <p class="lead">
          Contracts
        </p>
        <ul>
          {% for contract in company.contracts %}
          <li>
            <a href="{{ url_for('explorer.contracts', contract_id=contract.contract_id) }}">{{ contract.description|title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock %}
