{% extends "layout.html" %}
{% import "macros/render_pagination.html" as macros %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include "explorer/side_search.html" %}
  </div>
  <div class="col-md-9">
    <table class="table table-condensed" id="js-explore-search-results">
      <thead>
        <tr>
          <th class="js-sortable-th">Company</th>
          <th class="js-sortable-th">Contract Discription</th>
          <th class="js-sortable-th">Expiration Date</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <td><a href="{{ url_for('explorer.companies', company_id=contract.company_id) }}">{{ contract.name|string|title }}</a></td>
          <td><a href="{{ url_for('explorer.contracts', contract_id=contract.contract_id) }}">{{ contract.description|string|title }}</a></td>
          <td class="{{ contract.expiration_color }}">
            {{ contract.expiration_text|safe }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% if pagination.pages > 1 %}
    {{ macros.render_pagination(pagination) }}
  {% endif %}
  </div>
</div>


{% endblock %}