
{% extends "layout.html" %}
{% import "macros/render_pagination.html" as macros %}
{% block content %}

{% if not names %}
{% include "explorer/big_search.html" %}
{% endif %}

{% if names %}

<div class="row">
  <div class="col-md-3">
    {% include "explorer/side_search.html" %}
  </div>
  <div class="col-md-9">
    <h3 class="text-muted">
      {{ pagination.total_count }} results found for "{{ request.args.get('q') }}"
      {% if pagination.pages > 1 %}({{ (names | length) }} shown){% endif %}
    </h3>
    <table class="table table-condensed" id="js-explore-search-results">
      <thead>
        <tr>
          <th class="js-sortable-th">Company</th>
          <th class="js-sortable-th">Contract Discription</th>
        </tr>
      </thead>
      <tbody>
        {% for name in names %}
        <tr>
          <td><a href="{{ url_for('explorer.companies', company_id=name.company_id) }}">{{ name.name|string|title }}</a></td>
          <td><a href="{{ url_for('explorer.contracts', contract_id=name.contract_id) }}">{{ name.description|string|title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if pagination.pages > 1 %}
      {{ macros.render_pagination(pagination) }}
    {% endif %}
  </div>
</div>
{% elif names is none %}
<div class="row text-center">
  <h4>There are no results!</h4>
</div>
{% endif %}
{% endblock %}
