/* ======================================================================
   App specific CSS file.
   =================================================================== */

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  font-family: @font-family-sans-serif;
  margin-bottom: @footer-height;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  font-size: @font-size-h1;
  font-weight: 900;
}

h2 {
  font-size: @font-size-h2;
  font-weight: 200;
}

h3 {
  font-size: @font-size-h3;
}

/* navbar */
.navbar-header {
  background-color: #000000;
  border-color: #E7E7E7;

}
.navbar-inverse
.navbar-brand {
  color: @brand-primary;
}

/* Body */

.text-muted {
  color: #999999;
}
/* Forms */

.padded-bottom {
  padding-bottom: 20px;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
