// /* ======================================================================
//    LESS Styles for the Footer
//   =================================================================== */

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footer-height;
  background-color: @body-bg;
  border-top: 1px solid #eaeaea;
}

footer a {
  color: @link-color;
}